<div fxLayout="column" fxLayoutAlign="center center" style="width:100%;height:100vh" >
  <fieldset  fxLayout="column" fxLayoutAlign="center center">
  <h1>Create a new account</h1>
  <b>It's qiuck and easy</b><br>
  <div><input type="text" style="height: 30px;" placeholder="First Name"/> &nbsp; &nbsp; <input type="text" style="height: 30px;" placeholder="Surname"/></div><br>
  <input type="text" style="width: 86%;height: 30px;" placeholder="Username or Mobile number" /><br>
  <input type="text" style="width: 86%;height: 30px;" placeholder="E-mail" /><br>
  <input type="text" style="width: 86%;height: 30px;" placeholder="New password"/><br>
  <div>Date of Birth: <input type="date" style="width: 55%;height: 30px;"/></div><br>
  <div>Gender: Male<input type="radio" name="g"/> Female<input type="radio" name="g"/></div><br>
  <p style="font-size: smaller;">
    By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy.<br />
    You may receive SMS notifications from us and can opt out at any time.
  </p>
  <br />
  <button style="width: 40%;height: 30px;color:white;background-color: green;border-radius: 50px;">Sign Up</button>
  <br />
  </fieldset>
  </div>
