<div fxLayout="column" fxLayoutAlign="center center" style="width:100%;height:100vh;background-image:url(../assets/images/loginwallpaper1.jpg);background-size: cover;background-repeat: no-repeat" >
  <h1>Every Day Wishes</h1>
  <div fxLayout="column" fxLayoutAlign="center center" >
  <h3><b>Login</b></h3><br>
  <div><b>username:</b> <input type="text"/></div><br>
  <div><b>password:</b> <input type="text"/></div><br>
  <button style="background-color: chartreuse;">Login</button>
  <br>
  <div><a href="forgotpassword.html">Forgot password?</a> &nbsp;<a href="signup.html">Sign Up</a></div>
  <br>
</div>

</div>
