<h1> This website is for daily wishes </h1>
<p>It helps you to find suitable picture  for you to post on social media, depending on your needs</p>
<div>
<div class="div1">
  <a href="https://www.123cards.com/" target="_blank"> Birthday ></a><br>
<a href="https://www.123cards.com/" target="_blank"> New Year ></a><br>
<a href="https://www.123cards.com/" target="_blank"> Thankyou ></a><br>
<a href="https://www.123cards.com/" target="_blank">Anniversay ></a><br>
<a href="https://www.123cards.com/" target="_blank">Congratulations ></a>
</div>
<div class="div2">
  <img src="assets/images/pic1.jpg" width="100" height="70"><br>
  <a href="assets/images/pic1.jpg">download</a><br>


  <img src="assets/images/pic2.jpg" width="100" height="70"><br>
  <a href="assets/images/pic2.jpg" >download</a><br>

  <img src="assets/images/pic3.jpg" width="100" height="70"><br>
  <a href="assets/images/pic3.jpg" >download</a><br>
</div>
</div>
<a href="https://www.123cards.com/" target="_blank" > Click Me For 123cards</a>


